@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/brandon-grotesque-black.otf);
    font-weight: 900;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../assets/fonts/brandon-grotesque-light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/gill-sans-bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/gill-sans-italic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/gill-sans-light.otf);
    font-weight: 300;
}

@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/gill-sans-medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/gill-sans-regular.otf);
    font-weight: 400;
}