@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/brandon-grotesque-black.otf);
  font-weight: 900;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../assets/fonts/brandon-grotesque-light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Gill Sans";
  src: url(../assets/fonts/gill-sans-bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Gill Sans";
  src: url(../assets/fonts/gill-sans-italic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url(../assets/fonts/gill-sans-light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Gill Sans";
  src: url(../assets/fonts/gill-sans-medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Gill Sans";
  src: url(../assets/fonts/gill-sans-regular.otf);
  font-weight: 400;
}
@keyframes float-in {
  0% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}
@keyframes float-out {
  0% {
    left: 0px;
  }
  100% {
    left: -1000px;
  }
}
html {
  font-size: 18px;
  font-family: "Gill Sans", sans-serif;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
}

aside {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E2E2E2;
  float: left;
  position: absolute;
  left: -2000px;
  z-index: 200;
  box-shadow: 27px 0px 71px 10px rgba(0, 0, 0, 0.75);
}
aside .btn-close {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 1.7rem;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 900;
  transition: all 0.25s linear;
  cursor: pointer;
}
aside .btn-close:hover {
  color: #4D748B;
}
aside .profile {
  padding: 1rem;
}
aside .profile img {
  width: 50%;
  height: auto;
  margin: 0 25% 1rem 25%;
  border-radius: 50%;
}
aside .profile .info {
  text-align: center;
  text-transform: uppercase;
}
aside .profile .info h1 {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 900;
  font-size: 1.12rem;
  margin-bottom: 0.5rem;
}
aside .profile .info h2 {
  font-size: 0.67rem;
  color: #4D748B;
}
aside .menu-wrapper {
  text-align: center;
  font-weight: 700;
  font-size: 0.84rem;
}
aside .menu-wrapper ul li {
  margin: 1rem 0;
  text-transform: uppercase;
}
aside .menu-wrapper ul li a {
  color: #000;
  text-decoration: none;
  transition: all 0.25s linear;
}
aside .menu-wrapper ul li .active {
  color: #4D748B;
  border-bottom: 2px solid #4D748B;
}
aside .menu-wrapper ul li:hover a {
  color: #4D748B;
}
aside .footer {
  text-align: center;
  color: #4D748B;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
aside .footer p a {
  color: #4D748B;
  transition: all 0.25s linear;
}
aside .footer p a:hover {
  color: #000;
}

header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  z-index: 0;
}
header .contact-logos {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.3rem 0;
  display: none;
}
header .contact-logos .social-network {
  margin: 0 0.5rem;
  color: #000;
  transition: all 0.25s ease-in;
}
header .contact-logos .social-network:first-child:hover {
  color: #2088FF;
}
header .contact-logos .social-network:nth-child(2):hover {
  color: #6F85D5;
}
header .contact-logos .social-network:nth-child(3):hover {
  color: #2EA2D4;
}
header .contact-logos .social-network:nth-child(4):hover {
  color: #42E35F;
}
header .contact-logos .social-network:last-child:hover {
  color: #00AAE9;
}
header .header-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.6rem 0.5rem;
}
header .header-wrapper .contact-text {
  display: flex;
  flex-direction: row;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 900;
}
header .header-wrapper .contact-text .arrow {
  transform: rotate(90deg);
}
header .header-wrapper .hamburger {
  width: 1.3rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
header .header-wrapper .hamburger .line {
  width: 100%;
  height: 20%;
  background-color: #000;
  border-radius: 0.05rem;
  position: relative;
  z-index: 300;
  transition: all 0.3s linear;
}
header .header-wrapper .hamburger:hover .line {
  background-color: #4D748B;
}