//MENU
@keyframes float-in-left {
    0% {
        left: -100px;
    }
    100% {
        left: 0px;
    }
}

@keyframes float-out-left {
    0% {
        left: 0px;
    }
    100% {
        left: -1000px;
    }
}


//CONTACT ICONS
@keyframes rotate-up {
    0% {
        transform: rotate(90deg);    }

    100% {
        transform: rotate(-90deg);
    }
}

@keyframes rotate-down {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes float-in-right {
    0% {
        right: -3rem;
    }
    100% {
        right: 0;
    }
}

@keyframes float-out-right {
    0% {
        right: 0;
    }
    100% {
        right: -3rem;
    }
}

@keyframes move-right {
    0% {
        margin-right: 2rem;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes move-left {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: 2rem;
    }
}