@mixin background ($path) {
    background-image: url($path);
    background-size: 150% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

@mixin font-settings ($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: 10%;
}

@mixin heading-3 {
    color: $main-blue;
    text-transform: uppercase;
    line-height: 26px;
    @include font-settings ($brandon-font, 1rem, $brandon-font-light);
}

@mixin heading-4 {
    margin-top: 1rem;
    @include font-settings ($gill-font, 1rem, $gill-font-bold);
    text-transform: uppercase;
    line-height: 22px;
}

@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin section-style {
    padding: 1rem 2.5%;
    width: 95%;
}