@import "font-face";

//COLORS
$black: #000;
$white: #fff;
$main-blue: #4D748B;

//FONTS
$brandon-font: "Brandon Grotesque", sans-serif;
$gill-font: "Gill Sans", sans-serif;

//FONT-WEIGHTS
$brandon-font-bold: 900;
$brandon-font-light: 300;
$gill-font-bold: 700;
$gill-font-light: 300;
$gill-font-regular: 400;
$gill-font-medium: 500;